body
{
    font-family: "Arial", "Helvetica", "Verdana", sans-serif;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    background-color: #777;
}

label
{
    font-weight: bold;
}

.ui-button-text
{
    font-size: .85em;
}

.info
{
    padding: 5px;
}

.text
{
    font-family: monospace;
    font-size: 80%;
    padding: 3px;
    width: 100%;
    height: 80%;
    overflow: scroll;
    white-space: pre;
    border: 1px solid black;
}

.tooltip
{
    display: none;
    background-color: #f5f5b5;
    font-size: 90%;
    height: 75px;
    width: 200px;
    padding: 8px;
    z-index: 65535;
}

.row_selected {
    background-color: #B0BED9;
}

#index-query-results-table
{
   cursor: pointer;
}

#index-query-results-table tr.even.row_selected td {
    background-color: #B0BED9;
}

#index-query-results-table tr.odd.row_selected td {
    background-color: #9FAFD1;
}

#not-connected-alert
{
    width: 300px;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -150px;
    z-index: 99999;
}

#title
{
    margin-bottom: 3px;
    text-shadow: 2px 2px #888;
    color: #C00;
    width: 100%;
    clear: both;
}

#page-title
{
    font-size: 2em;
    font-weight: bold;
}

#version
{
    font-style: italic;
    float: right;
    margin-top: 1em;
    margin-right: 3px;
}

#tree
{
    width: 100%;
    height: 60%;
    overflow: scroll;
    border: 1px solid gray;
}

#path, #stat, #data-bytes, #data-str
{
    font-family: monospace;
    font-size: 125%;
}

#config-group
{
    line-height: 2em;
}

#config-group label
{
    float: left;
    width: 200px;
}

#config-group input
{
    float: left;
}

#config-editable-label
{
    float: left;
    padding-right: 8px;
}

#base-server-item label
{
    float: left;
    width: 250px;
    margin-bottom: 8px;
    font-weight: normal;
}

#base-server-item input
{
    margin-bottom: 8px;
}

#index-query-dialog label
{
    float: left;
    width: 100px;
    margin: 3px;
}

#index-query-dialog input
{
    margin: 3px;
}

#new-index-dialog input
{
    margin: 3px;
}

#new-index-dialog label
{
    margin: 3px;
}

#index-query-results
{
    height: 400px;
    overflow: scroll;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
}

.selectable .ui-selecting
{
    background: #FECA40;
}
.selectable .ui-selected
{
    background: #F39814;
    color: white;
}
.selectable
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
.selectable li
{
    margin: 3px;
    padding: 0.4em;
    font-size: 1em;
    height: 1.1em;
    white-space: nowrap;
    font-family: monospace;

}

#index-query-results-table td
{
    font-family: monospace;
    white-space: nowrap;
}

#index-query-results-selected
{
    margin-top: 8px;
    margin-bottom: 16px;
    white-space: nowrap;
}

#index-query-results-selected .label
{
    float: left;
    width: 150px;
    font-weight: bold;
}

#index-query-results-selected .value
{
    font-family: monospace;
}

#index-query-restore-dialog .label
{
    float: left;
    width: 80px;
    font-weight: bold;
}

#index-query-restore-form
{
    white-space: nowrap;
}

#index-query-restore-dialog .value
{
    font-family: monospace;
}

#exhibitor-valence
{
    display: none;
    position: absolute;
    z-index: 99998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#tabs-config-controls div
{
    float: left;
    margin-right: 20px;
}

#tabs-config-controls div div
{
    margin-left: 0;
    margin-top: 10px;
}

#instance-hostname, #instance-id
{
    font-weight: bold;
}

legend
{
    font-size: .9em;
    color: #555;
}

fieldset
{
    border: 1px solid #888;
}

.left-label
{
    float: left;
    width: 125px;
}

.ui-progressbar-value
{
    background-image: url(../images/pbar-ani.gif);
    background-color: #FFF;
    border: none;
}

#new-index-loading-progressbar
{
    background-color: #FFF;
    border: none;
}

#backups-disabled-message
{
    padding-top: 8px;
    padding-bottom: 3px;
    margin-left: 25px;
    font-size: .75em;
    font-style: italic;
}

.cp-server-item
{
    padding: 10px;
    margin-bottom: 25px;
}

.cp-servers-heading
{
    padding: 3px;
    margin-bottom: 16px;
}

.cp-status-container
{
    float: left;
    width: 2em;
    padding-top: 1em;
}

.cp-status-message-container
{
    float: left;
}

.cp-status
{
    border: 1px solid black;
    margin-right: 10px;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    moz-border-radius: 1em;
    webkit-border-radius: 1em;
    khtml-border-radius: 1em;
    background-color: #FFF;
    box-shadow: 2px 2px 2px #888;
}

.cp-server-column-wrapper
{
    width: 100%;
}

.cp-server-column
{
    float: left;
    margin-right: 50px;
}

.cp-server-column button
{
    margin-right: 15px;
}

.cp-this-server
{
    font-style: italic;
    font-size: .75em;
    margin-left: 10px;
}

#word-4ltr-text
{
    margin-top: 5px;
}

#log-text
{
    height: 95%;
}

.caution-fieldset
{
    border-color: #8b0000;
}

.caution-legend
{
    color: #8b0000;
    font-weight: bold;
}

#config-warning
{
    float: right;
}